* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: calc( (100vw - 360px) / (1920 - 360) * (50 - 25) + 25px);
}

p {
    font-size: 2.5rem;
}





































































/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img-gallery {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/2;
}
    
!*-------------------- CSS GRID 1 --------------------*!

.grid-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(4, 265px);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;

    justify-content: center;
    align-content: center;
}

.grid-item {
    background-color: #38aace;
}

.grid-item:nth-child(5) {
    !*grid-area: (row-start) / (column-start) / (row-end) / (column-end);*!
    grid-area: 2/1/4/3;
}

.grid-item:last-child {
    grid-area: 2/4/4;
}

!*-------------------- @MEDIA --------------------*!

@media screen and (max-width: 1200px) {
    .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        align-content: start;
    }

    .grid-item:nth-child(5) {
        grid-area: 3/1/5/3  ;
    }

    .grid-item:last-child {
        grid-area: 5/2/7;
    }
}

!*-------------------- CSS GRID 2 --------------------*!

.grid-wrapper-2 {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(2, minmax(300px, auto));
    grid-auto-rows: minmax(300px, auto);

    justify-content: center;
    align-content: center;
}

.grid-item-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;

    justify-content: center;
    align-content: center;

    background-color: #faa5e7;
}

.grid-sub-item {
    background-color: #a46896;
}*/
